.container1 {

    background-color: rgb(29,161,242,1.00);
    height: 1000px;
    width: 1000px;

}

.list1 {
    font-size: 25px;
    color: white;
    margin-top: 20%;
    margin-left: 42%;
    
}

.image1{
    height: 100px;
    width: 100px;
}